<!DOCTYPE html>
%rebase('base.tpl', aktivna='Dogodki', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		
		  %if admin:
		  <a href="/add_zanr/" class="PosebniGumb">Dodaj zanr</a>
		  <a href="/add_pesem/" class="PosebniGumb">Dodaj pesem</a>
		  <h2>Dodaj nov album</h2>
		  <form id = "ContactForm" method="post" enctype="multipart/form-data">
			<div>
			  <div class = "wrapper"> <span> Naslov: </span>
				<input placeholder="Vnesi naslov" type="text" name="naslov" required> 
			  </div>
			  <div class = "wrapper"> <span> Izdan: </span> 
				<input placeholder="Vnesi datum" type="date" min="1900-01-01" name="izdan" required> 
			  </div>
			  <div class = "wrapper"> <span> Opis: </span>
				<input placeholder="Vnesi opis" type="text" name="opis" required> 
			  </div>
			  <div class = "wrapper"> <span> Cena: </span> 
				<input placeholder="Vnesi ceno" type="number" min="0" name="cena" required> 
			  </div>
			  <div class = "wrapper"> <span> Vsebuje pesmi: </span>  <select name="vsebujep" multiple required>
					  %for (id_pesem, naslov_pesem,) in pesmi:
					  <option value="{{id_pesem}}">{{naslov_pesem}}</option>
					  %end
					 </select> </div>
			  <input type="submit" class="PosebniGumb" value="Dodaj">
			  <input class="PosebniGumb" type="reset" value="Reset"> </div>
		  </form>
		  %elif prijavljen_uporabnik:
		  <h2>Pozdravljeni {{prijavljen_uporabnik}}!</h2>
		  %else:
		  <h2>Pozdravljeni!</h2>
		  %end
		  <font color={{barva}}>{{napaka}}</font> 
		  
        </div>
