<!DOCTYPE html>
%rebase('base.tpl', aktivna='Dogodki', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		
		  %if admin:
		  <a href="/add_litdelo/" class="PosebniGumb">Dodaj lit. delo</a>
		  <h2>Dodaj nov tip lit. dela</h2>
		  <form id = "ContactForm" method="post" enctype="multipart/form-data">
			<div>
			  <div class = "wrapper"> <span> Naslov: </span>
				<input placeholder="Vnesi naslov" type="text" name="naslov" required> 
			  </div>
			  <input type="submit" class="PosebniGumb" value="Dodaj">
			  <input class="PosebniGumb" type="reset" value="Reset"> </div>
		  </form>
		  %elif prijavljen_uporabnik:
		  <h2>Pozdravljeni {{prijavljen_uporabnik}}!</h2>
		  %else:
		  <h2>Pozdravljeni!</h2>
		  %end
		  <font color={{barva}}>{{napaka}}</font> 
		  
        </div>
