<!DOCTYPE html>
%rebase('base.tpl', aktivna='Dogodki', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		
		  %if admin:
		  <a href="/add_zanr/" class="PosebniGumb">Dodaj zanr</a>
		  <a href="/add_album/" class="PosebniGumb">Dodaj album</a>
		  <h2>Dodaj novo pesem</h2>
		  <form id = "ContactForm" method="post" enctype="multipart/form-data">
			<div>
			  <div class = "wrapper"> <span> Naslov: </span>
				<input placeholder="Vnesi naslov" type="text" name="naslov" required> 
			  </div>
			  <div class = "wrapper"> <span> Dolzina: </span> 
				<input placeholder="Dolzina v sekundah" type="number" min="0" name="dolzina" required> 
			  </div>
			  <div class = "wrapper"> <span> Izdana: </span> 
				<input placeholder="Vnesi datum" type="date" min="1900-01-01" name="izdan" required> 
			  </div>
			  <div class = "wrapper"> <span> Zanr: </span>  <select name="zanr">
					  %for (id_zanr, ime_zanr,) in zanri:
					  %if int(id_zanr) == 1:
					  <option value="{{id_zanr}}" selected="selected">{{ime_zanr}}</option>
					  %else:
					  <option value="{{id_zanr}}">{{ime_zanr}}</option>
					  %end
					  %end
					 </select> </div>
			  <div class = "wrapper"> <span> Cena: </span> 
				<input placeholder="Vnesi ceno" type="number" min="0" name="cena" required> 
			  </div>
			  <div class = "wrapper"> <span> Avtorji pesmi: </span>  <select name="avtorp" multiple required>
					  %for (id_clan, ime_clan,) in clani:
					  <option value="{{id_clan}}">{{ime_clan}}</option>
					  %end
					 </select> </div>
			  <div class = "wrapper"> <span> Avtorji besedila: </span>  <select name="avtorb" multiple required>
					  %for (id_clan, ime_clan,) in clani:
					  <option value="{{id_clan}}">{{ime_clan}}</option>
					  %end
					 </select> </div>
			  <input type="submit" class="PosebniGumb" value="Dodaj">
			  <input class="PosebniGumb" type="reset" value="Reset"> </div>
		  </form>
		  %elif prijavljen_uporabnik:
		  <h2>Pozdravljeni {{prijavljen_uporabnik}}!</h2>
		  %else:
		  <h2>Pozdravljeni!</h2>
		  %end
		  <font color={{barva}}>{{napaka}}</font> 
		  
        </div>
