<!DOCTYPE html>
%rebase('base.tpl', aktivna='Dogodki', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		
		  %if admin:
		  <a href="/add_tip/" class="PosebniGumb">Dodaj tip</a>
		  <h2>Dodaj novo lit. delo</h2>
		  <form id = "ContactForm" method="post" enctype="multipart/form-data">
			<div>
			  <div class = "wrapper"> <span> Naslov: </span>
				<input placeholder="Vnesi naslov" type="text" name="naslov" required> 
			  </div>
			  <div class = "wrapper"> <span> Izdan: </span> 
				<input placeholder="Vnesi datum" type="date" min="1900-01-01" name="izdan" required> 
			  </div>
			  <div class = "wrapper"> <span> Zaloznik: </span>
				<input placeholder="Vnesi zaloznika" type="text" name="zaloznik" required> 
			  </div>
			  <div class = "wrapper"> <span> Tip: </span>  <select name="tip" required>
					  %for (id_tip, ime_tip,) in tipi:
					  %if int(id_tip) == 1:
					  <option value="{{id_tip}}" selected="selected">{{ime_tip}}</option>
					  %else:
					  <option value="{{id_tip}}">{{ime_tip}}</option>
					  %end
					  %end
					 </select> </div>
			  <div class = "wrapper"> <span> Avtorji dela: </span>  <select name="avtorl" multiple required>
					  %for (id_clan, ime_clan,) in clani:
					  <option value="{{id_clan}}">{{ime_clan}}</option>
					  %end
					 </select> </div>
			  <input type="submit" class="PosebniGumb" value="Dodaj">
			  <input class="PosebniGumb" type="reset" value="Reset"> </div>
		  </form>
		  %elif prijavljen_uporabnik:
		  <h2>Pozdravljeni {{prijavljen_uporabnik}}!</h2>
		  %else:
		  <h2>Pozdravljeni!</h2>
		  %end
		  <font color={{barva}}>{{napaka}}</font> 
		  
        </div>
