<!DOCTYPE html>
<html lang="en">
<head>
<title>Ponarejevalci denarja</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
<!-- <script src="static/js/jquery-1.6.js" ></script>
<script src="static/js/cufon-yui.js"></script>
<script src="static/js/cufon-replace.js"></script>
<script src="static/js/NewsGoth_BT_400.font.js"></script>
<script src="static/js/NewsGoth_BT_700.font.js"></script>
<script src="static/js/atooltip.jquery.js"></script> -->
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="all">
<![endif]-->
</head>
<body id="page2">
<div class="bg1">
  <div class="main">
    <!--header -->
    <header>
      <nav>
        <ul id="menu">
          <li><a href="/index/">Skupina</a></li>
          <li><a href="/dogodki/">Dogodki</a></li>
          <li><a href="/galerija/">Galerija</a></li>
          <li><a href="/clani/">Člani</a></li>
          <li><a href="/novice/">Novice</a></li>
          <li><a href="/kontakt/">Kontakt</a></li>
        </ul>
      </nav>
      <h1><a href="/index/" id="logo">Ponarejevalci denarja feel the rhythm</a></h1>
	  <div id="uporabnik">
		%if prijavljen_uporabnik is not None:
		<h3><a href="/user/{{id_uporabnik}}/" style="text-decoration: none">{{prijavljen_uporabnik}}</a></h3>
		<center class="color2">Stanje: {{stanje}}</center>
		<a href="/logout/">Odjava</a>
		%else:
		<br>
		<center><a href="/prijava/">Prijava</a> ali
		<a href="/register/">Registracija</a></center>
		%end
	  </div>
    </header>
    <!--header end-->
    <div class="box">
      <!--content -->
      <article id="content">
        <div class="wrapper">
		   <h2>Poišči album</h2>	
            <form id = "ContactForm" action=".">
			<div>
			  <div class="wrapper"> <span> Ključne besede: </span>
									<input type="text" name ="search" placeholder="Vnesi"
									value = "{{iskanje}}" />
								</div>
			  <div class = "wrapper"> <span> Po: </span> 
				<input placeholder="Vnesi rojstni datum" value = "{{sp_datum}}" type="date" name="spodnji"
				/> 
			  </div>
			  <div class = "wrapper"> <span> Pred: </span> 
				<input placeholder="Vnesi rojstni datum" type="date" name="zgornji"
				value = "{{zg_datum}}"/> 
			  </div>
			  <div class = "wrapper"> <span> Sp. cena: </span> 
				<input placeholder="Vnesi sp. ceno" type="number" name="sp_cena" value = "{{sp_cena}}"/> 
			  </div>
			  <div class = "wrapper"> <span> Zg. cena: </span> 
				<input placeholder="Vnesi zg. ceno" type="number" name="zg_cena" value = "{{zg_cena}}"/> 
			  </div>
			  <div class = "wrapper"> <span> Uredi po: </span>  <select name="urejanje">
					  <option value="naslov"
					  %if ureditev == "naslov":
					  selected="selected"
					  %end
					  >Naslov</option>
					  <option value="izdan" 
					  %if ureditev == "izdan":
					  selected="selected"
					  %end
					  >Datum izdaje</option>
					  <option value="cena"
					  %if ureditev == "cena":
					  selected="selected"
					  %end
					  >Cena</option>
			  </select> </div>
			  <div class = "wrapper"> <span> Način urejanja: </span>  <select name="nacin_u">
					  <option value="ASC"
					  %if na_ureditve == "ASC":
					  selected="selected"
					  %end
					  >Naraščajoče</option>
					  <option value="DESC" 
					  %if na_ureditve == "DESC":
					  selected="selected"
					  %end
					  >Padajoče</option>
			  </select> </div>
			  %if prijavljen_uporabnik is not None:
			  <div class = "wrapper"> <span> Prikaži: </span>  <select name="prikazi">
					  <option value=""
					  %if prikaz == "":
					  selected="selected"
					  %end
					  >Vse</option>
					  <option value="kupljene" 
					  %if prikaz == "kupljene":
					  selected="selected"
					  %end
					  >Kupljene</option>
					  <option value="nekupljene" 
					  %if prikaz == "nekupljene":
					  selected="selected"
					  %end
					  >Nekupljene</option>
			  </select> </div>
			  %end
			  <button type="submit" class="PosebniGumb">Filter</button>
			  <button type="reset" onclick="location.href='/albumi/'" class="PosebniGumb">Reset</button>
		  </form>		   
		
          <h2>Albumi skupine</h2>
          <div class="wrapper">
			  <table cellpadding="0" cellspacing="0" border="1" width=100%>
			  <thead>
			  <tr>
				 <th>Naslov</th>
				 <th>Izdan</th>
				 <th>Cena</th>
			  </tr>
			  </thead>
			  %for (id_albuma,naslov,izdan,opis,cena) in albumi:
			    %izdan = izdan.strftime("%d %B %Y")
				<tr>
				   <td><a href="/album/{{id_albuma}}/" style="text-decoration: none">{{naslov}}</a></td>
				   <td>{{izdan}}</td>
				   <td>{{cena}}</td>
				</tr>
			  %end
			  </table>
          </div>
        </div>
      </article>
      <!--content end-->
      <!--footer -->
      <footer>
	  %include("spodaj.tpl")
      </footer>
      <!--footer end-->
    </div>
  </div>
</div>
<script>Cufon.now();</script>
</body>
</html>
