<!DOCTYPE html>
%rebase('base.tpl', aktivna='Člani', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='page4', id_uporabnik=id_uporabnik)
        <div class="wrapper">
          <h2>Člani</h2>
          <div class="wrapper">
			  
			  %for (id,ime,priimek,rojstvo,naslov,bio) in clani:
			    %datum = rojstvo.strftime("%d %B %Y")
				<div class="cols">
              <figure class="pad_bot1"><img src="" alt=""></figure>
              <p class="pad_bot2"><span class="color2">{{ime}} {{priimek}}</span> <span class="color1">Singer, DJ</span><br>
			  Datum rojstva: {{datum}}<br>
			  Živi v: {{naslov}} <br>
                {{bio}}</p>
                </div>
			  %end
          </div>
        </div>
