<!DOCTYPE html>
%rebase('base.tpl', aktivna='Dogodki', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		%import datetime
		%(id, naslov, datum, tip) = dogodek
		%datum = datum.strftime("%d %B %Y")
		%#m_dolzina, s_dolzina = divmod(dolzina.seconds, 60)
		%#(ime_zanr,)=zanr
          <h2>{{naslov}}</h2> 
          <div class="wrapper">
			  <p class="pad_bot2">
			  <span class="color1">Datum: {{datum}}</span> <br>
			  <span class="color1">Tip: {{tip}}</span> </p>
			  
			  
			  %if username is not None and not udelezeno:
			  <form method="post">
			  <input type="submit" class="PosebniGumb" value="Potrdi udeležbo"> <br>
			  </form>
			  %elif username is not None and udelezeno:
			  <span class="color1">Za ta dogodek ste potrdili prisotnost!</span> <br>
              %else:
              <span class="color1">Za potrditev udelezbe na temu dogodku se morate prijaviti.</span> <br>
			  %end
			  <br>
			  <p>
			  %if pesmi:
			  <h3>Izvedene pesmi</h3> <input type="submit" class="DesniGumb" onclick="prikaziPesmi()" id="iz_pesmi_but" value="Skrij"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="iz_pesmi"; style = "display:block">
				  %for (id_pesmi,naslov,) in pesmi:
					<tr>
					   <td><a href="/song/{{id_pesmi}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
function prikaziPesmi() {
    var x = document.getElementById("iz_pesmi");
	var y = document.getElementById("iz_pesmi_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  %end
			  </p>
			  <p>
			  %if litdela:
			  <h3>Izvedena literarna dela:</h3> <input type="submit" class="DesniGumb" onclick="prikaziDela()" id="iz_lit_but" value="Skrij"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="iz_lit"; style = "display:block">
				  %for (id_litdela,naslov,) in litdela:
					<tr>
					   <td><a href="/litdelo/{{id_litdela}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
				  function prikaziDela() {
    var x = document.getElementById("iz_lit");
	var y = document.getElementById("iz_lit_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  %end
			  </p>
          </div>
        </div>
