<!DOCTYPE html>
%rebase('base.tpl', aktivna='Dogodki', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
			%if admin:
			<a href="/add_dogodek/" class="PosebniGumb">Dodaj dogodek</a>
			%end
		   <h2>Poišči dogodek</h2>	
            <form id = "ContactForm" action=".">
			<div>
			  <div class="wrapper"> <span> Ključne besede: </span>
									<input type="text" name ="search" placeholder="Vnesi"
									value = "{{iskanje}}" />
								</div>
			  <div class = "wrapper"> <span> Po: </span> 
				<input placeholder="Vnesi rojstni datum" value = "{{sp_datum}}" type="date" name="spodnji"
				/> 
			  </div>
			  <div class = "wrapper"> <span> Pred: </span> 
				<input placeholder="Vnesi rojstni datum" type="date" name="zgornji"
				value = "{{zg_datum}}"/> 
			  </div>
			  <div class = "wrapper"> <span> Uredi po: </span>  <select name="urejanje">
					  <option value="naslov"
					  %if ureditev == "naslov":
					  selected="selected"
					  %end
					  >Naslov</option>
					  <option value="datum" 
					  %if ureditev == "datum":
					  selected="selected"
					  %end
					  >Datum</option>
			  </select> </div>
			  <div class = "wrapper"> <span> Način urejanja: </span>  <select name="nacin_u">
					  <option value="ASC"
					  %if na_ureditve == "ASC":
					  selected="selected"
					  %end
					  >Naraščajoče</option>
					  <option value="DESC" 
					  %if na_ureditve == "DESC":
					  selected="selected"
					  %end
					  >Padajoče</option>
			  </select> </div>
			  %if prijavljen_uporabnik is not None:
			  <div class = "wrapper"> <span> Prikaži: </span>  <select name="prikazi">
					  <option value=""
					  %if prikaz == "":
					  selected="selected"
					  %end
					  >Vse</option>
					  <option value="udelezeni" 
					  %if prikaz == "udelezeni":
					  selected="selected"
					  %end
					  >Udeležene</option>
					  <option value="neudelezeni" 
					  %if prikaz == "neudelezeni":
					  selected="selected"
					  %end
					  >Neudeležene</option>
			  </select> </div>
			  %end
			  <button type="submit" class="PosebniGumb">Filter</button>
			  <button type="reset" onclick="location.href='/dogodki/'" class="PosebniGumb">Reset</button>
		  </form>		   
		
          <h2>Dogodki skupine</h2>
          <div class="wrapper">
			  <table cellpadding="0" cellspacing="0" border="1" width=100%>
			  <thead>
			  <tr>
				 <th>Naslov</th>
				 <th>Datum</th>
			  </tr>
			  </thead>
			  %for (id_dogodka,naslov,datum,tip) in dogodki:
			    %datum = datum.strftime("%d %B %Y")
				<tr>
				   <td><a href="/dogodek/{{id_dogodka}}/" style="text-decoration: none">{{naslov}}</a></td>
				   <td>{{datum}}</td>
				</tr>
			  %end
			  </table>
          </div>
        </div>
