<!DOCTYPE html>
<html lang="en">
<head>
<title>Ponarejevalci denarja | Galerija</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
</head>
<body id="page3">
<div class="bg1">
  <div class="main">
    <!--header -->
    <header>
      <nav>
        <ul id="menu">
          <li><a href="/index/">Skupina</a></li>
          <li><a href="/dogodki/">Dogodki</a></li>
          <li class="active"><a href="/galerija/">Galerija</a></li>
          <li><a href="/clani/">Člani</a></li>
          <li><a href="/novice/">Novice</a></li>
          <li><a href="/kontakt/">Kontakt</a></li>
        </ul>
      </nav>
      <h1><a href="/index/" id="logo">Ponarejevalci denarja feel the rhythm</a></h1>
    </header>
    <!--header end-->
    <div class="box">
      <!--content -->
      <article id="content">
        <div class="wrapper">
          <h2>Ponarejevalci denarja</h2>
          <dl class="folio">
            <dt>
			  <img src="/static/images/ponarejavalci/Družina Černe.jpg" alt=""  class="active" height="480"> 
			</dt>
            <dd>
              <ul class="marg_right1">
                <li><a href="#img1"><img src="/static/images/ponarejavalci/Ana Černe.jpg" alt="" width="260"></a></li>
                <li><a href="#img2"><img src="/static/images/ponarejavalci/Rado Černe 3.jpg" alt="" width="260"></a></li>
                <li><a href="#img3"><img src="/static/images/ponarejavalci/Eva Černe - petje.jpg" alt="" width="260"></a></li>
              </ul>
              <ul class="marg_right1">
                <li><a href="#img4"><img src="/static/images/ponarejavalci/Nejc Avbelj.jpg" alt="" width="260"></a></li>
                <li><a href="#img5"><img src="/static/images/ponarejavalci/Rado Černe 2.jpg" alt="" width="260"></a></li>
                <li><a href="#img6"><img src="/static/images/ponarejavalci/Eva in Rado Černe.jpg" alt="" width="260"></a></li>
              </ul>
              <ul>
                <li><a href="#img7"><img src="/static/images/ponarejavalci/Rado Černe.jpg" alt="" width="260"></a></li>
                <li><a href="#img8"><img src="/static/images/ponarejavalci/Zoran BIčanin.jpg" alt="" width="260"></a></li>
                <li><a href="#img9"><img src="/static/images/ponarejavalci/Černe-Avbelj.jpg" alt="" width="260"></a></li>
              </ul>
            </dd>
          </dl>
        </div>
      </article>
      <!--content end-->
      <!--footer -->
      <footer>
	  %include("spodaj.tpl")
      </footer>
      <!--footer end-->
    </div>
  </div>
</div>
</body>
</html>
