<!DOCTYPE html>
<html lang="en">
<head>
<title>Ponarejevalci denarja | Galerija</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
</head>
<body id="page3">
<div class="bg1">
  <div class="main">
    <!--header -->
    <header>
      <nav>
        <ul id="menu">
          <li><a href="/index/">Skupina</a></li>
          <li><a href="/dogodki/">Dogodki</a></li>
          <li class="active"><a href="/galerija/">Galerija</a></li>
          <li><a href="/clani/">Člani</a></li>
          <li><a href="/novice/">Novice</a></li>
          <li><a href="/kontakt/">Kontakt</a></li>
        </ul>
      </nav>
      <h1><a href="/index/" id="logo">Ponarejevalci denarja feel the rhythm</a></h1>
	  <div id="uporabnik">
		%if prijavljen_uporabnik is not None:
		<h3><a href="/user/{{id_uporabnik}}/" style="text-decoration: none">{{prijavljen_uporabnik}}</a></h3>
		<center class="color2">Stanje: {{stanje}}</center>
		<a href="/logout/">Odjava</a>
		%else:
		<br>
		<center><a href="/prijava/">Prijava</a> ali
		<a href="/register/">Registracija</a></center>
		%end
	  </div>
    </header>
    <!--header end-->
    <div class="box">
      <!--content -->
      <article id="content">
        <div class="wrapper">
          <h2>Ponarejevalci denarja</h2>
          <dl class="folio">
            <dt>
			  <img src="/static/images/ponarejavalci/BandVaja3.jpg" alt=""  class="active" height="480"> 
			</dt>
            <dd>
              <ul class="marg_right1">
                <li><a href="#img1"><img src="/static/images/ponarejavalci/BandVaja1.jpg" alt="" width="260"></a></li>
                <li><a href="#img2"><img src="/static/images/ponarejavalci/BandVaja4.jpg" alt="" width="260"></a></li>
                <li><a href="#img3"><img src="/static/images/ponarejavalci/BandVaja2.jpg" alt="" width="260"></a></li>
              </ul>
              <ul class="marg_right1">
                <li><a href="#img4"><img src="/static/images/ponarejavalci/BirthControll.jpg" alt="" width="260"></a></li>
                <li><a href="#img5"><img src="/static/images/ponarejavalci/ZE.jpg" alt="" width="260"></a></li>
				<li><a href="#img6"><img src="/static/images/ponarejavalci/NejcMartin.jpg" alt="" width="260"></a></li>
              </ul>

            </dd>
          </dl>
        </div>
      </article>
      <!--content end-->
      <!--footer -->
      <footer>
	  %include("spodaj.tpl")
      </footer>
      <!--footer end-->
    </div>
  </div>
</div>
</body>
</html>
