<!DOCTYPE html>
%rebase('base.tpl', aktivna='Skupina', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper pad_bot1">
          <section class="col1">
		    %if prijavljen_uporabnik is not None and spol == 'ženska':
              <h2 id="welcom">Pozdravljena {{prijavljen_uporabnik}}!</h2>
			%elif prijavljen_uporabnik is not None:
			  <h2 id="welcom">Pozdravljen {{prijavljen_uporabnik}}!</h2>
			%else:
			  <h2 id="welcom">Pozdravljen ponarejevalec!</h2>
			%end
            <p class="color1">Glasbena skupina Ponarejevalci denarja je najperspektivnejša glasbena skupina v tem delu Evrope.</p>
            <p class="pad_bot1">Skupina je v nastajanju in temelji na formalni predpostavki o možnosti, da je mogoče preseči nepredstavljive meje popularnosti. Slog in umetniška vrednost skupine presegata vsa pričakovanja.</p>
            <a href="https://www.facebook.com/ponarejevalci/" class="link1">Poglej našo Facebook stran</a> </section>
          <section class="col1 pad_left1">
		  <h2>Zadnji dogodki</h2>
          <div id="gallery1">
		     <ul>
			  %import datetime
			  %for (id_dogodka,naslov,datum,tip) in dogodki:
		         %dan = datum.day
				 %mesec = datum.strftime("%B")
			    <li> <span class="dropcap_1">{{dan}}<span>{{mesec}}</span></span>
                  <p><span class="color1">{{naslov.upper()}}</span><br>
                    Tip: {{tip}}<br>
					%if prijavljen_uporabnik is not None:
					  %if any(id[0] == id_dogodka for id in udelezeni):
					    <font color="green">Za ta dogodek ste potrdili prisotnost!</font> <br>
					  %else:
					    <font color="red">Še imate čas, da potrdite prisotnost!</font> <br>
					  %end
					%else:
					  <font color="green">Prisrčno vabljeni!</font> <br>
					%end
                    <a href="/dogodek/{{id_dogodka}}/" class="link1">Prikaži podrobnosti</a></p>
                </li>
			  %end
			  </ul>
          </div>
		</section>
        </div>
		<div class="wrapper pad_bot1">
          <section class="col1">
		    %if prijavljen_uporabnik is not None:
			<h3> Veseli smo vas! </h3>
			<br>
			<p class="color1"> Uporabniki, ki se na naš portal vračajo in ga redno uporabljajo, so eden izmed gonilnih delov našega kolektiva. </p>
            <p class="pad_bot1"> Preglejte strani prijateljev in ugotovite, katerih dogodkov se bodo udeležili in na katerih so biti. Ne pozabite tudi na nove prihajajoče dogodke, ki jih lahko vidite na desni. </p>
            <a href="/uporabniki/" class="link1">Preglej ostale uporabnike</a> 
			%else:
			<h3> Si želiš biti del zgodovine? </h3>
			<br>
            <p class="color1"> Uporabniki, ki se pridružijo našemu portalu in ga uporabljajo, so eden izmed gonilnih delov našega kolektiva. </p>
            <p class="pad_bot1"> Če želite potrjevati prisotnost na dogodkih in imeti pregled nad dogodki, ki ste si jih udeležili in pesmimi ter albumi, ki ste jih kupili, potem je to za vas! </p>
            <a href="/register/" class="link1">Pridruži se nam!</a> 
			%end
		  </section>
          <section class="col1 pad_left1">
		  <h2>Prihajajoči dogodki</h2>
          <div id="gallery1">
		     <ul>
			  %import datetime
			  %for (id_dogodka,naslov,datum,tip) in prihajajoci:
		         %dan = datum.day
				 %mesec = datum.strftime("%B")
			    <li> <span class="dropcap_1">{{dan}}<span>{{mesec}}</span></span>
                  <p><span class="color1">{{naslov.upper()}}</span><br>
                    Tip: {{tip}}<br>
					%if prijavljen_uporabnik is not None:
					  %if any(id[0] == id_dogodka for id in udelezeni):
					    <font color="green">Za ta dogodek ste potrdili prisotnost!</font> <br>
					  %else:
					    <font color="red">Še imate čas, da potrdite prisotnost!</font> <br>
					  %end
					%else:
					  <font color="green">Prisrčno vabljeni!</font> <br>
					%end
                    <a href="/dogodek/{{id_dogodka}}/" class="link1">Prikaži podrobnosti</a></p>
                </li>
			  %end
			  </ul>
          </div>
		</section>
        </div>
