<!DOCTYPE html>
%rebase('base.tpl', aktivna='Kontakt', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='page6', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		
		 <h2>Vnos za oboževalce</h2>
          <form id="ContactForm" enctype="text/plain" action="mailto:našmail@mail.com" method="post">
            <div>
              <div class="wrapper"> <span>Ime:</span>
                <input type="text" class="input" >
              </div>
              <div class="wrapper"> <span>Email:</span>
                <input type="text" class="input" >
              </div>
              <div class="wrapper"> <span>Tema:</span>
                <input type="text" class="input" >
              </div>
              <div class="textarea_box"> <span>Sporočilo:</span>
                <textarea name="textarea" cols="1" rows="1"></textarea>
              </div>
              <a href="#" class="button">pošlji</a> <a href="#" class="button">briši</a> </div>
          </form>
        </div>
        <div class="wrapper">
          <div class="col1">
            <h2>Naslov</h2>
            <p class="color1 pad_bot1">1000 Ljubljana, Slovenija, SI</p>
            <p class="address">Telefon (m):<br>
              Telefon (ž):<br>
              FAX:<br>
              E-mail:</p>
            <p>+1 800 559 6580<br>
              +1 959 603 6035<br>
              +1 504 889 9898<br>
              <a href="#" class="link2">info@ponarejevalci.org</a></p>
          </div>
          <div class="col2 pad_left1">
            <h2>Splošni podatki</h2>
            <p>Ivo dobi v popravilo velik stroj, ki ima pokvarjen transformator. Ko stroj popravi in ga zažene, ta začne tiskati bankovce po 500 evrov. Pride še hišnik, ki poskuša prodati cel kontejner žepnih kalkulatorjev. Beno in Ivo takoj zagrabita priložnost, da se rešita denarja in vložita v pravi posel. Žuža bo to gotovo dobro prodala naprej. Hitro se izkaže, da žepni kalkulatorji ne delajo in da imajo cel kontejner pokvarjene robe. Kot da to ni dovolj, pride še policija, ki išče ukradene kalkulatorje. Ker tudi to ni dovolj, najdejo še stroj za ponarejevanje denarja. Če ne bi bilo Ana Marije, bi se tole slabo končalo..,</p>
          </div>
        </div>
