<!DOCTYPE html>
%rebase('base.tpl', aktivna='Dogodki', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		%import datetime
		%(id, naslov, izdan, zaloznik, _) = litdelo
		%izdan = izdan.strftime("%d %B %Y")
		%(ime_tip,)=tip
		%seznam_al = ', '.join(avtorji_litdela)
          <h2>{{naslov}}</h2> 
          <div class="wrapper">
			  <p class="pad_bot2">
			  <span class="color1">Datum izdaje: {{izdan}}</span> <br>
			  <span class="color1">Avtorji: {{seznam_al}}</span> <br>
			  <span class="color1">Zaloznik: {{zaloznik}}</span> <br>
			  <span class="color1">Tip: {{ime_tip}}</span> </p>
			  
			  %if dogodki:
			  <p>
			  <h3>Je bilo izvedeno na dogodkih:</h3> <input type="submit" class="DesniGumb" onclick="prikaziDogodke()" id="iz_lit_but" value="Skrij"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="iz_lit"; style = "display:block">
				  %for id_dogodka,naslov in dogodki:
					<tr>
					   <td><a href="/dogodek/{{id_dogodka}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
				  function prikaziDogodke() {
    var x = document.getElementById("iz_lit");
	var y = document.getElementById("iz_lit_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  </p>
			  %end
			  
          </div>
        </div>
