<!DOCTYPE html>
%rebase('base.tpl', aktivna='Dogodki', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
			%if admin:
			<a href="/add_pesem/" class="PosebniGumb">Dodaj pesem</a>
			<a href="/add_zanr/" class="PosebniGumb">Dodaj zanr</a>
			%end
		   <h2>Poišči pesem</h2>	
            <form id = "ContactForm" action=".">
			<div>
			  <div class="wrapper"> <span> Ključne besede: </span>
									<input type="text" name ="search" placeholder="Vnesi"
									value = "{{iskanje}}" />
								</div>
			  <div class = "wrapper"> <span> Po: </span> 
				<input placeholder="Vnesi rojstni datum" value = "{{sp_datum}}" type="date" name="spodnji"
				/> 
			  </div>
			  <div class = "wrapper"> <span> Pred: </span> 
				<input placeholder="Vnesi rojstni datum" type="date" name="zgornji"
				value = "{{zg_datum}}"/> 
			  </div>
			  <div class = "wrapper"> <span> Sp. cena: </span> 
				<input placeholder="Vnesi sp. ceno" type="number" name="sp_cena" value = "{{sp_cena}}"/> 
			  </div>
			  <div class = "wrapper"> <span> Zg. cena: </span> 
				<input placeholder="Vnesi zg. ceno" type="number" name="zg_cena" value = "{{zg_cena}}"/> 
			  </div>
			  <div class = "wrapper"> <span> Uredi po: </span>  <select name="urejanje">
					  <option value="naslov"
					  %if ureditev == "naslov":
					  selected="selected"
					  %end
					  >Naslov</option>
					  <option value="izdan" 
					  %if ureditev == "izdan":
					  selected="selected"
					  %end
					  >Datum izdaje</option>
					  <option value="dolzina" 
					  %if ureditev == "dolzina":
					  selected="selected"
					  %end
					  >Dolzina</option>
					  <option value="cena"
					  %if ureditev == "cena":
					  selected="selected"
					  %end
					  >Cena</option>
			  </select> </div>
			  <div class = "wrapper"> <span> Način urejanja: </span>  <select name="nacin_u">
					  <option value="ASC"
					  %if na_ureditve == "ASC":
					  selected="selected"
					  %end
					  >Naraščajoče</option>
					  <option value="DESC" 
					  %if na_ureditve == "DESC":
					  selected="selected"
					  %end
					  >Padajoče</option>
			  </select> </div>
			  %if prijavljen_uporabnik is not None:
			  <div class = "wrapper"> <span> Prikaži: </span>  <select name="prikazi">
					  <option value=""
					  %if prikaz == "":
					  selected="selected"
					  %end
					  >Vse</option>
					  <option value="kupljene" 
					  %if prikaz == "kupljene":
					  selected="selected"
					  %end
					  >Kupljene</option>
					  <option value="nekupljene" 
					  %if prikaz == "nekupljene":
					  selected="selected"
					  %end
					  >Nekupljene</option>
			  </select> </div>
			  %end
			  <button type="submit" class="PosebniGumb">Filter</button>
			  <button type="reset" onclick="location.href='/pesmi/'" class="PosebniGumb">Reset</button>
		  </form>		   
		
          <h2>Pesmi skupine</h2>
          <div class="wrapper">
			  <table cellpadding="0" cellspacing="0" border="1" width=100%>
			  <thead>
			  <tr>
				 <th>Naslov</th>
				 <th>Izdano</th>
				 <th>Dolzina</th>
				 <th>Cena</th>
			  </tr>
			  </thead>
			  %for (id_pesmi,naslov,dolzina,izdan,zanr,cena) in pesmi:
			    %izdan = izdan.strftime("%d %B %Y")
				%m_dolzina, s_dolzina = divmod(dolzina.seconds, 60)
				<tr>
				   <td><a href="/song/{{id_pesmi}}/" style="text-decoration: none">{{naslov}}</a></td>
				   <td>{{izdan}}</td>
				   <td>{{m_dolzina}} min {{s_dolzina}} sec</td>
				   <td>{{cena}}</td>
				</tr>
			  %end
			  </table>
          </div>
        </div>
