<!DOCTYPE html>
%rebase('base.tpl', aktivna='Oboževalci', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		
		  %if not prijavljen_uporabnik:
		  <h2>Prijava</h2>
		  <form id = "ContactForm" method="post" enctype="multipart/form-data">
			<div>
			  <div class = "wrapper"> <span> Uporabnisko ime: </span>
				<input placeholder="Vnesi uporabnisko ime" type="text" name="uporabniskoime" required> 
			  </div>
			  <div class = "wrapper"> <span> Geslo: </span> 
				<input placeholder="Vnesi geslo" type="password" name="geslo" required>
			  </div>
			  <input type="submit" class="PosebniGumb" value="Prijava">
			  <input type="reset" class="PosebniGumb" value="Reset"> </div>
		  <!-- <button>Dodaj uporabnika</button> -->
		  </form>
		  %else:
		  <h2>Pozdravljeni {{prijavljen_uporabnik}}!</h2>
		  %end
		  
		  <font color={{barva}}>{{napaka}}</font> 
		  
        </div>
