<!DOCTYPE html>
%rebase('base.tpl', aktivna='Oboževalci', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		
		  %if not prijavljen_uporabnik:
		  <h2>Registriraj novega uporabnika</h2>
          <span class="color2">Uporabnisko ime naj bo dolgo od 4 do 15 znakov. Vsebuje lahko male in velike črke ter številke in podpičje (ne pa šumnikov). Geslo mora vsebovati vsaj eno veliko črko, vsaj eno malo črko in vsaj eno številko. </span> <br>
          <br>
		  <form id = "ContactForm" method="post" enctype="multipart/form-data">
			<div>
			  <div class = "wrapper"> <span> Uporabnisko ime: </span>
			  <!-- TODO: prepreči posebne znake in presledke-->
				<input pattern="^[A-Za-z0-9_]{4,15}$" placeholder="Vnesi uporabnisko ime" type="text" name="uporabniskoime" required> 
			  </div>
			  <div class = "wrapper"> <span> Geslo: </span> 
				<input pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Vnesi geslo" type="password" name="geslo1" required>
			  </div>
			  <div class = "wrapper"> <span> Ponovi geslo: </span> 
				<input placeholder="Ponovno vnesi geslo" type="password" name="geslo2" required>
			  </div>
			  <!--<div class = "wrapper"> <span> Stanje: </span> 
				<input placeholder="Vnesi stanje" type="number" name="stanje"/> 
			  </div>-->
			  <div class = "wrapper"> <span> Ime: </span> 
				<input pattern="[A-ZČŠŽa-zčšž -]{1,32}" placeholder="Vnesi ime" name="ime" required> 
			  </div>
			  <div class = "wrapper"> <span> Priimek: </span> 
				<input pattern="[A-ZČŠŽa-zčšž -]{1,32}" placeholder="Vnesi priimek" name="priimek" required> 
			  </div>
              <div class = "wrapper"> <span> E-mail: </span> 
				<input placeholder="Vnesi e-mail" type="email" name="kontakt" required> 
			  </div>
			  <div class = "wrapper"> <span> Rojstvo: </span> 
				<input placeholder="Vnesi rojstni datum" type="date" min="1900-01-01" name="rojstvo" required> 
			  </div>
			  <div class = "wrapper"> <span> Spol: </span>  <select name="spol" required>
					  <option value="moški">moški</option>
					  <option value="ženska">ženska</option>
					  <option value="drugo" selected="selected">drugo</option>
					 </select> </div>
              <!-- <script type="text/javascript">
										function PreviewImage() {
											var oFReader = new FileReader();
											oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);
											oFReader.onload = function (oFREvent) {
												document.getElementById("uploadPreview").src = oFREvent.target.result;
											};
										};
									</script>
			  <div class = "wrapper"> <span> Slika: </span> 
				 <input type="file" name="uploaded" id="uploadImage"  onchange="PreviewImage();" >
										<!-- Prepreči prevelike slike!							
				  <img id="uploadPreview" style="max-width: 100px; max-height: 100px;"/> 
			  </div> -->
			  <input type="submit" class="PosebniGumb" value="Registriraj">
			  <input class="PosebniGumb" type="reset" value="Reset"> </div>
		  <!-- <button>Dodaj uporabnika</button> -->
		  </form>
		  %else:
		  <h2>Pozdravljeni {{prijavljen_uporabnik}}!</h2>
		  %end
		  
		  <font color={{barva}}>{{napaka}}</font> 
		  
        </div>
