<!DOCTYPE html>
<html lang="en">
<head>
<title>Ponarejevalci denarja</title>
<meta charset="utf-8">
<link rel="stylesheet" href="/static/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all">
<!-- <script src="static/js/jquery-1.6.js" ></script>
<script src="static/js/cufon-yui.js"></script>
<script src="static/js/cufon-replace.js"></script>
<script src="static/js/NewsGoth_BT_400.font.js"></script>
<script src="static/js/NewsGoth_BT_700.font.js"></script>
<script src="static/js/atooltip.jquery.js"></script> -->
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<link rel="stylesheet" href="css/ie.css" type="text/css" media="all">
<![endif]-->
</head>
<body id="page4">
<div class="bg1">
  <div class="main">
    <!--header -->
    <header>
      <nav>
        <ul id="menu">
          <li><a href="/index/">Skupina</a></li>
          <li><a href="/dogodki/">Dogodki</a></li>
          <li><a href="/galerija/">Galerija</a></li>
          <li><a href="/clani/">Člani</a></li>
          <li><a href="/novice/">Novice</a></li>
          <li><a href="/kontakt/">Kontakt</a></li>
        </ul>
      </nav>
      <h1><a href="/index/" id="logo">Ponarejevalci denarja feel the rhythm</a></h1>
	  <div id="uporabnik">
		%if prijavljen_uporabnik is not None:
		<h3><a href="/user/{{id_uporabnik}}/" style="text-decoration: none">{{prijavljen_uporabnik}}</a></h3>
		<center class="color2">Stanje: {{stanje}}</center>
		<a href="/logout/">Odjava</a>
		%else:
		<br>
		<center><a href="/prijava/">Prijava</a> ali
		<a href="/register/">Registracija</a></center>
		%end
	  </div>
    </header>
    <!--header end-->
    <div class="box">
      <!--content -->
      <article id="content">
        <div class="wrapper">
		%import datetime
		%(id, naslov, dolzina, izdan, _, cena) = pesem
		%izdan = izdan.strftime("%d %B %Y")
		%m_dolzina, s_dolzina = divmod(dolzina.seconds, 60)
		%(ime_zanr,)=zanr
		%seznam_ap = ', '.join(avtorji_pesmi)
		%seznam_ab = ', '.join(avtorji_besedila)
          <h2>{{naslov}}</h2> 
          <div class="wrapper">
			  <p class="pad_bot2">
			  <span class="color1">Dolzina: {{m_dolzina}} min {{s_dolzina}} sec</span> <br>
			  <span class="color1">Datum izdaje: {{izdan}}</span> <br>
			  <span class="color1">Avtorji pesmi: {{seznam_ap}}</span> <br>
			  <span class="color1">Avtorji besedila: {{seznam_ab}}</span> <br>
			  <span class="color1">Zanr: {{ime_zanr}}</span> </p>
			  <span class="color2">Cena: {{cena}}</span> <br>
			  
			  %if username is not None and not kupljeno:
			  <form method="post">
			  <input type="submit" class="PosebniGumb" value="Kupi pesem"> <br>
			  </form>
			  %elif username is not None and kupljeno:
			  <span class="color1">Pesem ste že kupili</span> <br>
			  %end
			  
			  <p>
			  %if albumi:
			  <h3>Se nahaja v albumih:</h3> <input type="submit" class="DesniGumb" onclick="prikaziAlbume()" id="iz_alb_but" value="Prikaži"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="iz_alb"; style = "display:none">
				  %for id_albuma,naslov in albumi:
					<tr>
					   <td><a href="/album/{{id_albuma}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
				  function prikaziAlbume() {
    var x = document.getElementById("iz_alb");
	var y = document.getElementById("iz_alb_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  %end
			  </p>
			  <p>
			  %if dogodki:
			  <h3>Je bila izvedena na dogodkih:</h3> <input type="submit" class="DesniGumb" onclick="prikaziDogodke()" id="iz_lit_but" value="Prikaži"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="iz_lit"; style = "display:none">
				  %for id_dogodka,naslov in dogodki:
					<tr>
					   <td><a href="/dogodek/{{id_dogodka}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
				  function prikaziDogodke() {
    var x = document.getElementById("iz_lit");
	var y = document.getElementById("iz_lit_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  %end
			  </p>
			  
          </div>
        </div>
      </article>
      <!--content end-->
      <!--footer -->
      <footer>
	  %include("spodaj.tpl")
      </footer>
      <!--footer end-->
    </div>
  </div>
</div>
<script>Cufon.now();</script>
</body>
</html>
