<!DOCTYPE html>
%rebase('base.tpl', aktivna='Dogodki', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		%import datetime
		%(id, naslov, dolzina, izdan, _, cena) = pesem
		%izdan = izdan.strftime("%d %B %Y")
		%m_dolzina, s_dolzina = divmod(dolzina.seconds, 60)
		%(ime_zanr,)=zanr
		%seznam_ap = ', '.join(avtorji_pesmi)
		%seznam_ab = ', '.join(avtorji_besedila)
          <h2>{{naslov}}</h2> 
          <div class="wrapper">
			  <p class="pad_bot2">
			  <span class="color1">Dolzina: {{m_dolzina}} min {{s_dolzina}} sec</span> <br>
			  <span class="color1">Datum izdaje: {{izdan}}</span> <br>
			  <span class="color1">Avtorji pesmi: {{seznam_ap}}</span> <br>
			  <span class="color1">Avtorji besedila: {{seznam_ab}}</span> <br>
			  <span class="color1">Zanr: {{ime_zanr}}</span> </p>
			  <span class="color2">Cena: {{cena}}</span> <br>
			  
			  %if username is not None and not kupljeno and int(stanje) >= int(cena):
			  <form method="post">
			  <input type="submit" class="PosebniGumb" value="Kupi pesem"> <br>
			  </form>
              %elif username is not None and not kupljeno and int(stanje) < int(cena):
              <span class="color1">Na računu nimate dovolj denarja, da bi pesem kupili.</span> <br>
			  %elif username is not None and kupljeno:
			  <span class="color1">Pesem ste že kupili</span> <br>
              %else:
              <span class="color1">Za nakup pesmi se morate prijaviti.</span> <br>
			  %end
			  
			  <p>
			  %if albumi:
			  <h3>Se nahaja v albumih:</h3> <input type="submit" class="DesniGumb" onclick="prikaziAlbume()" id="iz_alb_but" value="Skrij"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="iz_alb"; style = "display:block">
				  %for id_albuma,naslov in albumi:
					<tr>
					   <td><a href="/album/{{id_albuma}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
				  function prikaziAlbume() {
    var x = document.getElementById("iz_alb");
	var y = document.getElementById("iz_alb_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  %end
			  </p>
			  <p>
			  %if dogodki:
			  <h3>Je bila izvedena na dogodkih:</h3> <input type="submit" class="DesniGumb" onclick="prikaziDogodke()" id="iz_lit_but" value="Skrij"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="iz_lit"; style = "display:block">
				  %for id_dogodka,naslov in dogodki:
					<tr>
					   <td><a href="/dogodek/{{id_dogodka}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
				  function prikaziDogodke() {
    var x = document.getElementById("iz_lit");
	var y = document.getElementById("iz_lit_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  %end
			  </p>
			  
          </div>
        </div>
