<!DOCTYPE html>
%rebase('base.tpl', aktivna='Oboževalci', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		
		  <h2>Poišči uporabnika</h2>						
					<form id = "ContactForm" action=".">
			<div>
			  <div class="wrapper"> <span> Ključne besede: </span>
									<input type="text" name ="search" placeholder="Vnesi"
									value = "{{iskanje}}" />
								</div>
              <div class = "wrapper"> <span> Način urejanja: </span>  <select name="nacin_u">
					  <option value="ASC"
					  %if na_ureditve == "ASC":
					  selected="selected"
					  %end
					  >Naraščajoče</option>
					  <option value="DESC" 
					  %if na_ureditve == "DESC":
					  selected="selected"
					  %end
					  >Padajoče</option>
			  </select> </div>
			  <button type="submit" class="PosebniGumb">Filter</button>
			  <button type="reset" onclick="location.href='/uporabniki/'" class="PosebniGumb">Reset</button>
		  </form>		  
		  
		  <h2>Uporabniki</h2>
		  <table cellpadding="0" cellspacing="0"; border=1;>
		  <!-- <tr> -->
			 <!-- <th>ID</th> -->
			 <!-- <th>Uporabnisko ime</th> -->
			 <!-- <th>Geslo</th> -->
			 <!-- <th>Stanje</th> -->
			 <!-- <th>Ime</th> -->
			 <!-- <th>Priimek</th> -->
			 <!-- <th>Rojstni datum</th> -->
			 <!-- <th>Spol</th> -->
		  <!-- </tr> -->
		  %for (id, uporabnisko_ime, geslo, stanje, ime, priimek, rojstvo, spol_uporabnika, email, gru, admin) in uporabniki:
			<tr>
			   <!-- <td>{{id}}</td> -->
			   <td><a href="/user/{{id}}/">{{uporabnisko_ime}}</a></td>
			   <!-- <td>{{geslo}}</td> -->
			   <!-- <td>{{stanje}}</td> -->
			   <!-- <td>{{ime}}</td> -->
			   <!-- <td>{{priimek}}</td> -->
			   <!-- <td>{{rojstvo}}</td> -->
			   <!-- <td>{{spol_uporabnika}}</td> -->
			</tr>
		  %end
		  </table>
		  
        </div>
