<html>
<head>
  <title>Uporabniki</title>
</head>
<body>
  <h2>Uporabniki s stanjem nad {{x}} evri</h2>

  <table cellpadding="0" cellspacing="0" border="1">
  <tr>
     <th>ID</th>
     <th>Uporabnisko ime</th>
     <th>Stanje</th>
     <th>Ime</th>
     <th>Priimek</th>
	 <th>Rojstni datum</th>
     <th>Spol</th>
  </tr>
  %for (id, uporabnisko_ime, geslo, stanje, ime, priimek, rojstvo, spol_uporabnika, gru, admin) in uporabniki:
    <tr>
       <td>{{id}}</td>
       <a href="/user/{{id}}/">{{uporabnisko_ime}}</a>
	   <td>{{stanje}}</td>
       <td>{{ime}}</td>
       <td>{{priimek}}</td>
       <td>{{rojstvo}}</td>
	   <td>{{spol_uporabnika}}</td>
    </tr>
  %end
  </table>
  
  <form methos="post">
  Znesek: <input placeholder="Vnesi znesek" type="number" name="znesek"/>
  Račun: <input placeholder="Vnesi stevilko racuna" name="racun"/>
  Opis: <input placeholder="Opis transakcije" name="opis"/>
  <button>To je gumb</button>
  </form>
  
  <form>
  {{napaka}}
  </form>
  
  <p>
    <a href="/">Komitenti</a>
  </p>

</body>
</html>