<!DOCTYPE html>
%rebase('base.tpl', aktivna='Oboževalci', prijavljen_uporabnik=prijavljen_uporabnik, stanje=stanje, stran='', id_uporabnik=id_uporabnik)
        <div class="wrapper">
		%(id, uporabnisko_ime, geslo, stanje, ime, priimek, rojstvo, spol_uporabnika, email, gru, admin) = uporabnik
          <h2>{{uporabnisko_ime}}</h2> 
          <div class="wrapper">
			  <p class="pad_bot2">
			  %import os.path
			  %for ext in ('.png','.jpg','.jpeg'):
			  %path = os.path.join('static','images','uploads',str(id)+ext) 
			  %if os.path.isfile(path):
			  %break
			  %else:
			  %path = os.path.join('static','images','uploads',str(spol_uporabnika)+'.png')
			  %end
			  %end
			  %rojstvo = rojstvo.strftime("%d %B %Y")
			  <img src="/{{path}}" style="max-width: 100px; max-height: 100px;"/> <br>
			  <span class="color2">{{ime}} {{priimek}}</span> <br> 
			  <span class="color1">Spol: {{spol_uporabnika}}</span> <br>
			  <span class="color1">Rojstni datum: {{rojstvo}}</span> <br>
              <span class="color1">E-mail: {{email}}</span> <br>
			  <span class="color1">Stanje: {{stanje}}</span> </p>
			  %if prijavljen_uporabnik is not None: 
			  <!--and prijavljen_uporabnik != uporabnisko_ime:-->
			  <form method="post">
			  Ponaredi uporabniku stanje: <input placeholder="Kolicina" type="number" name="stanje"/> <br>
			  <input type="submit" value="Ponaredi" class="PosebniGumb">
			  <input type="reset" value="Resetiraj" class="PosebniGumb">
			  </form>
              %else:
              <span class="color2">Za ponarejanje stanja uporabniku se morate prijaviti.</span> <br>
			  %end
			  <p>
			  %if pesmi:
				  <h3>Kupljene pesmi</h3> <input type="submit" class="DesniGumb" onclick="prikaziPesmi()" id="kup_pesmi_but" value="Skrij"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="kup_pesmi"; style = "display:block">
				  %for id_pesmi,naslov in pesmi:
					<tr>
					   <td><a href="/song/{{id_pesmi}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
function prikaziPesmi() {
    var x = document.getElementById("kup_pesmi");
	var y = document.getElementById("kup_pesmi_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  %end
			  </p>
			  <p>
			  %if albumi:
				  <h3>Kupljeni albumi</h3> <input type="submit" class="DesniGumb" onclick="prikaziAlbumi()" id="kup_albumi_but" value="Skrij"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="kup_albumi"; style = "display:block">
				  %for id_albuma,naslov in albumi:
					<tr>
					   <td><a href="/album/{{id_albuma}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
function prikaziAlbumi() {
    var x = document.getElementById("kup_albumi");
	var y = document.getElementById("kup_albumi_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  %end
			  </p>
			  <p>
			  %if dogodki:
				  <h3>Udelezeni dogodki</h3> <input type="submit" class="DesniGumb" onclick="prikaziDogodki()" id="kup_dogodki_but" value="Skrij"/>
				  <table cellpadding="0" cellspacing="0"; border=1; width=100%; id="kup_dogodki"; style = "display:block">
				  %for id_dogodka,naslov in dogodki:
					<tr>
					   <td><a href="/dogodek/{{id_dogodka}}/" style="text-decoration: none">{{naslov}}</a></td>
					</tr>
				  %end
				  </table>
				  <script>
function prikaziDogodki() {
    var x = document.getElementById("kup_dogodki");
	var y = document.getElementById("kup_dogodki_but");
    if (x.style.display === "none") {
        x.style.display = "block";
		y.value = "Skrij";
    } else {
        x.style.display = "none";
		y.value = "Prikaži";
    }
}
</script>
			  %end
			  </p>
          </div>
        </div>